device_types:
  - "!create_or_update:model": "8200"
    slug: "8200"
    manufacturer__slug: "cisco"
    u_height: 1
    "!ref": "device_type_8200"

devices:
  - "!create_or_update:name": "{{ site_name }}-wrx-a"
    device_type: "!ref:device_type_8200"
    device_role__slug: "wanswitch"
    site__slug: "{{ site_name }}"
    status__name: "Active"
    "!ref": "device_wrx_a"

vrfs:
  - "!create_or_update:name": "kgs-management"
    description: "kgs-management"
    tenant__name: "{{ tenant_name }}"
    "!ref": "vrf_kgs_management"

  - "!create_or_update:name": "kgs-wan"
    description: "kgs-wan"
    tenant__name: "{{ tenant_name }}"
    "!ref": "vrf_kgs_wan"

  - "!create_or_update:name": "kgs-lan"
    description: "kgs-lan"
    tenant__name: "{{ tenant_name }}"
    "!ref": "vrf_kgs_lan"

interfaces:
  - "!create_or_update:name": "loopback1"
    device: "!ref:device_wrx_a"
    status__name: "Planned"
    type: "virtual"
    "!ref": "interface_loopback1"

  - "!create_or_update:name": "loopback2"
    device: "!ref:device_wrx_a"
    status__name: "Planned"
    type: "virtual"
    "!ref": "interface_loopback2"


  - "!create_or_update:name": "vlan1651"
    device: "!ref:device_wrx_a"
    status__name: "Planned"
    type: "virtual"
    "!ref": "interface_vlan1651"


  - "!create_or_update:name": "vlan1711"
    device: "!ref:device_wrx_a"
    status__name: "Planned"
    type: "virtual"
    "!ref": "interface_vlan1711"

  - "!create_or_update:name": "GigabitEthernet1/0/1"
    device: "!ref:device_wrx_a"
    status__name: "Planned"
    type: "1000base-t"
    "!ref": "interface_GigabitEthernet1/0/1"

  - "!create_or_update:name": "GigabitEthernet1/0/2"
    device: "!ref:device_wrx_a"
    status__name: "Planned"
    type: "1000base-t"
    "!ref": "interface_GigabitEthernet1/0/2"
  
  ip_addresses:
    - address: 1.1.1.1/32



{% macro vlan(vid, name, status_name, site_name, description) -%}
  - vid: {{ vid }}
    name: "{{ name }}"
    status__name: "{{ status_name }}"
    site__name: "{{ site_name }}"
    description: "{{ description }}"
{%- endmacro %}


{% macro prefix(prefix, site_name, status_name, description, tenant_name) -%}
  - prefix: "{{ prefix }}"
    site__name: "{{ site_name }}"
    status__name: "{{ status_name }}"
    description: "{{ description }}"
    tenant__name: "{{ tenant_name }}"
{%- endmacro %}


vlans:
  {{ vlan(999, "sinkhole", "Active", site_name, "sinkhole") }}
  {{ vlan(500, "B-Biz-Internet", "Active", site_name, "B-Biz-Internet") }}
  {{ vlan(501, "A-Public-Internet", "Active", site_name, "A-Public-Internet") }}
  {{ vlan(502, "B-LTE", "Active", site_name, "B-LTE") }}
  {{ vlan(503, "A-MPLS-Internet", "Active", site_name, "A-MPLS-Internet") }}
  {{ vlan(1650, "WRX-to-Edge", "Active", site_name, "WRX-to-Edge") }}
  {{ vlan(1651, "vlan1651", "Active", site_name, "sitevlans") }}
  {{ vlan(1711, "vlan1711", "Active", site_name, "sitevlans") }}
  {{ vlan(1700, "WRX-A-to-WRX-B", "Active", site_name, "WRX-A-to-WRX-B") }}
  {{ vlan(1702, "WRX-B-to-LAN", "Active", site_name, "WRX-B-to-LAN") }}
  {{ vlan(601, "Guest-WRX-B--EdgeB", "Active", site_name, "Guest-WRX-B--EdgeB") }}
  {{ vlan(603, "Guest-WRX-A--Edge-B", "Active", site_name, "Guest-WRX-A--Edge-B") }}
  {{ vlan(604, "Guest-WRX-B--EdgeA", "Active", site_name, "Guest-WRX-B--EdgeA") }}
  {{ vlan(612, "name DIA-Provisioning", "Active", site_name, "name DIA-Provisioning") }}

prefixes:
  {{ prefix(site_prefix, site_name, "Reserved", "WAN", tenant_name) }}
  {{ prefix(management_prefix, site_name, "Reserved", "Management", tenant_name) }}