{% macro interface(name, status, type, address='', status_name='', description='') %}
- "!create_or_update:name": "{{ name }}"
  status__name: "{{ status }}"
  type: "{{ type }}"
  {% if address %}
  ip_addresses:
  - "!create_or_update:address": "{{ address }}"
    status__name: "{{ status_name }}"
    description: "{{ description }}"
  {% endif %}
{% endmacro %}

device_types:
  - "!create_or_update:model": "8200"
    slug: "8200"
    manufacturer__slug: "cisco"
    u_height: 1

devices:
  - "!create_or_update:name": "{{ site_name }}-wrx-a"
    device_type__slug: "8200"
    device_role__slug: "wanswitch"
    site__slug: "{{ site_name }}"
    status__name: "Active"
    interfaces:
      {{ interface("loopback1", "Planned", "virtual", get_management_interface_ip(site_name + '-wrx-a', 'loopback1'), "Reserved", "loopback1") }}
      {{ interface("loopback2", "Planned", "virtual", get_site_interface_ip(site_name + '-wrx-a', 'loopback2'), "Reserved", "loopback2") }}
      {{ interface("vlan1651", "Planned", "virtual", get_management_interface_ip(site_name + '-wrx-a', 'vlan1651'), "Reserved", "vlan1651") }}
      {{ interface("vlan1711", "Planned", "virtual", get_management_interface_ip(site_name + '-wrx-a', 'vlan1711'), "Reserved", "vlan1711") }}
      {{ interface("GigabitEthernet1/0/1", "Planned", "1000base-t", "", "", "to " + site_name + "-cedge-a") }}
      {{ interface("GigabitEthernet1/0/2", "Planned", "1000base-t", "", "", "to " + site_name + "-cedge-a") }}
      {{ interface("GigabitEthernet1/0/5", "Planned", "1000base-t", "", "", "to " + site_name + "-Lan-Core") }}