{% import 'designs/device_macro.j2' as device %}
{% import 'designs/l2_interface_macro.j2' as l2 %}
{% import 'designs/l3_interface_macro.j2' as l3 %}
{% import 'designs/prefix_macro.j2' as prefix %}

devices:
  # Use the device macro to define a device
  {{ device.device(site_name + '-WRX-B', '8200', 'wanswitch', site_name, tenant_name, 'cisco_iosxe', 'Planned', local_context_data, 'device_wrx_b') }}
