{% macro device_type(slug, manufacturer_slug) -%}
    "!create_or_update:model": "{{ slug }}"
    slug: "{{ slug }}"
    manufacturer__slug: "{{ manufacturer_slug }}"
    "!ref": "{{ slug }}"
{%- endmacro %}

{% macro ipam_role(slug, weight) -%}
  - "!create_or_update:name": "{{ slug }}"
    slug: "{{ slug }}"
    weight: "{{ weight }}"
    "!ref": "{{ slug }}"
{%- endmacro %}

{% macro device(name, device_type_slug, device_role_slug, site_name, tenant_name, platform_name, status_name, ref, local_context_data={}) -%}
  - "!create_or_update:name": "{{ name }}"
    device_type_slug: "{{ device_type }}"
    device_role__slug: "{{ device_role_slug }}"
    site__name: "{{ site_name }}"
    tenant__name: "{{ tenant_name }}"
    platform__name: "{{ platform_name }}"
    status__name: "{{ status_name }}"
    {% if local_context_data %}
    local_context_data: "{{ local_context_data }}"
    {% endif %}
    "!ref": "{{ ref }}"
{%- endmacro %}

{% macro vlan(vid, name, status_name, site_name, description, tenant_name) -%}
  - "!create_or_update:vid": "{{ vid }}"
    name: "{{ name }}"
    status__name: "{{ status_name }}"
    site__name: "{{ site_name }}"
    description: "{{ description }}"
    tenant__name: "{{ tenant_name }}"
    role__name: "wanswitch_vlans"
    "!ref": "vlan{{ vid }}"
{%- endmacro %}

{% macro vrf(name, description, tenant_name) -%}
  - "!create_or_update:name": "{{ name }}"
    description: "{{ description }}"
    tenant__name: "{{ tenant_name }}"
    "!ref": "{{ name }}"
{%- endmacro %}

{% macro l3_interface(name, device_ref, status_name, type, description, ref, address, vrf_name, tenant_name) -%}
  - "!create_or_update:name": "{{ name }}"
    device: "{{ device_ref }}"
    status__name: "{{ status_name }}"
    type: "{{ type }}"
    description: "{{ description }}"
    "!ref": "{{ ref }}"
    ip_addresses:
      - "!create_or_update:address": "{{ address }}"
        status__name: "Reserved"
        description: "{{ description }}-address"
        vrf__name: "{{ vrf_name }}"
        tenant__name: "{{ tenant_name }}"
{%- endmacro %}

{% macro l2_interface(name, device_ref, status_name, type, description, mode, tagged_vlans=[]) -%}
  - "!create_or_update:name": "{{ name }}"
    status__name: "{{ status_name }}"
    type: "{{ type }}"
    description: "{{ description }}"
    mode: "{{ mode }}"
    tagged_vlans: "{{ tagged_vlans }}"
{%- endmacro %}

{% macro interface(name, device_ref, status_name, type, description, ref, mode=None, tagged_vlans=[], ip_addresses=[]) -%}
  - "!create_or_update:name": "{{ name }}"
    device: "{{ device_ref }}"
    status__name: "{{ status_name }}"
    type: "{{ type }}"
    description: "{{ description }}"
    "!ref": "{{ ref }}"
    {% if mode %}
    mode: "{{ mode }}"
    {% endif %}
    {% if tagged_vlans %}
    tagged_vlans: "{{ tagged_vlans }}"
    {% endif %}
    {% for ip_address in ip_addresses %}
    ip_addresses:
      - "!create_or_update:address": "{{ ip_address.address }}"
        status__name: "{{ ip_address.status }}"
        description: "{{ ip_address.description }}"
        {% if ip_address.vrf %}
        vrf__name: "{{ ip_address.vrf }}"
        {% endif %}
        tenant__name: "{{ ip_address.tenant }}"
    {% endfor %}
{%- endmacro %}

{% macro prefix(prefix, site_name, status_name, description, tenant_name) -%}
  - "!create_or_update:prefix": "{{ prefix }}"
    site__name: "{{ site_name }}"
    status__name: "{{ status_name }}"
    description: "{{ description }}"
    tenant__name: "{{ tenant_name }}"
    role__name: "{{ site_name }}_ipam"
{%- endmacro %}

device_types:
    {{ device_type('cisco8200', 'cisco') }}

devices:
  {{ device(site_name + '-WRX-B', 'cisco8200', 'wanswitch', site_name, tenant_name, 'cisco_iosxe', 'Planned', ref='device_wrx_b') }}
  {{ device(site_name + '-WRX-A', 'cisco8200', 'wanswitch', site_name, tenant_name, 'cisco_iosxe', 'Planned', ref='device_wrx_a') }}

roles:
  {{ ipam_role('wanswitch_vlans', 100) }}
  {{ ipam_role(site_name | lower + '_ipam', 100) }}

vlans:
  {{ vlan(100, 'VLAN100', 'Active', site_name, 'VLAN100', tenant_name) }}
  {{ vlan(200, 'VLAN200', 'Active', site_name, 'VLAN200', tenant_name) }}

interfaces:
 {{ l2_interface('GigabitEthernet0/0/0', '!ref:device_wrx_b', 'Active', '1000base-t', 'description', 'tagged') }}