{% macro device_type(device_type_slug) -%}
    "!create_or_update:slug": "{{ device_type_slug }}"
    name: "{{ device_type_slug }}"
    "!ref": "{{ device_type_slug }}"
{%- endmacro %}

{% macro device_role(device_role_slug) -%}
    "!create_or_update:slug": "{{ device_role_slug }}"
    name: "{{ device_role_slug }}"
    "!ref": "{{ device_role_slug }}"
{%- endmacro %}

{% macro device(name, device_type_slug, device_role_slug, site_name, tenant_name, platform_name, status_name, local_context_data={}, ref=None) -%}
  - "!create_or_update:name": "{{ name }}"
    device_type__slug: "{{ device_type_slug }}"
    device_role: "{{ device_role_slug }}"
    site__name: "{{ site_name }}"
    tenant__name: "{{ tenant_name }}"
    platform__name: "{{ platform_name }}"
    status__name: "{{ status_name }}"
    local_context_data: "{{ local_context_data }}"
    "!ref": "{{ ref if ref else name }}"
{%- endmacro %}