{% import 'designs/create_macro.j2' as create %}

{% set device_type = 'cisco8200' %}
{% set device_role = 'wanswitch' %}
{% set ipam_role   = 'ipam_role' %}
{% set vlan_role   = 'vlan_role' %}
{% set status_name = 'Active' %}
{% set protocol = 'vrrp' %}
{% set device_manufacturer = 'cisco' %}

roles:
 {{ create.ipam_role(vlan_role, 1000) }}
 {{ create.ipam_role(ipam_role, 1000) }}

device_types:
  {{ create.device_type(device_type, device_manufacturer) }}

prefixes:
  {{ create.prefix(site_prefix, site_name, status_name, 'Site Subnet', tenant_name) }}
  {{ create.prefix(management_prefix, site_name, status_name, 'KGS Management Prefixes', tenant_name, ipam_role) }}