{% import 'designs/create_macro.j2' as create %}

{% set device_type = 'cisco8200' %}
{% set device_role = 'wanswitch' %}
{% set ipam_role   = site_name %}
{% set vlan_role   = 'wanswitch_vlans' %}
{% set prefix_status = 'Active' %}
{% set device_status = 'Staged' %}
{% set protocol = 'vrrp' %}
{% set device_manufacturer = 'cisco' %}
{% set device_name_b = site_name + '-WRX-B' %}
{% set device_name_a = site_name + '-WRX-A' %}
{% set device_platform = "cisco_iosxe" %}
{% set management_vrf = 'kgs_management' %}
{% set guest_vrf = 'guest' %}
{% set redundancy_group_name = site_name + 'vrrp' %}

roles:
  {{ create.ipam_role(vlan_role) }}
  {{ create.ipam_role(ipam_role) }}

prefixes:
  {{ create.prefix(site_prefix, site_name, prefix_status, 'Site Subnet', tenant_name, ipam_role) }}
  {{ create.prefix(management_prefix, site_name, prefix_status, 'KGS Management Prefixes', tenant_name, ipam_role) }}

vrfs:
  {{ create.vrf(management_vrf, 'KGS Management VRF', tenant_name) }}
  {{ create.vrf(guest_vrf, 'Guest VRF', tenant_name) }}

device_types:
  {{ create.device_type(device_type, device_manufacturer) }}

vlans:
  {{ create.vlan(999, "sinkhole", 'Active', site_name, "sinkhole", tenant_name, vlan_role) }}
  {{ create.vlan(500, "B-Biz-Internet", 'Active', site_name, "B-Biz-Internet", tenant_name, vlan_role) }}
  {{ create.vlan(501, "A-Public-Internet", 'Active', site_name, "A-Public-Internet", tenant_name, vlan_role) }}
  {{ create.vlan(502, "B-LTE", 'Active', site_name, "B-LTE", tenant_name, vlan_role) }}
  {{ create.vlan(503, "A-MPLS-Internet", 'Active', site_name, "A-MPLS-Internet", tenant_name, vlan_role) }}
  {{ create.vlan(1650, "WRX-to-Edge", 'Active', site_name, "WRX-to-Edge", tenant_name, vlan_role) }}
  {{ create.vlan(1651, "vlan1651", 'Active', site_name, "sitevlans", tenant_name, vlan_role) }}
  {{ create.vlan(1700, "WRX-A-to-WRX-B", 'Active', site_name, "WRX-A-to-WRX-B", tenant_name, vlan_role) }}
  {{ create.vlan(1702, "WRX-B-to-LAN", 'Active', site_name, "WRX-B-to-LAN", tenant_name, vlan_role) }}
  {{ create.vlan(1711, "vlan1711", 'Active', site_name, "sitevlans", tenant_name, vlan_role) }}
  {{ create.vlan(601, "Guest-WRX-B--EdgeB", 'Active', site_name, "Guest-WRX-B--EdgeB", tenant_name, vlan_role) }}
  {{ create.vlan(603, "Guest-WRX-A--Edge-B", 'Active', site_name, "Guest-WRX-A--Edge-B", tenant_name, vlan_role) }}
  {{ create.vlan(604, "Guest-WRX-B--EdgeA", 'Active', site_name, "Guest-WRX-B--EdgeA", tenant_name, vlan_role) }}
  {{ create.vlan(611, "Guest-Services", 'Active', site_name, "Guest-Services", tenant_name, vlan_role) }}
  {{ create.vlan(612, "name DIA-Provisioning", 'Active', site_name, "DIA-Provisioning", tenant_name, vlan_role) }}

devices:
  {{ create.device(device_name_a, device_type, device_role, site_name, tenant_name, device_platform, device_status) }}
  {{ create.device(device_name_b, device_type, device_role, site_name, tenant_name, device_platform, device_status) }}

interfaces:
  {{ create.l2_interface('GigabitEthernet1/0/1', device_name_b|lower, 'Planned', 'virtual', 'CX: {{ site_name }}-B_GI0/0/0', 'tagged', ['vlan500', 'vlan501', 'vlan502', 'vlan503']) }}
  {{ create.l2_interface('GigabitEthernet1/0/2', device_name_b|lower, 'Planned', 'virtual', 'CX: {{ site_name }}-B_GI0/0/1', 'tagged', ['vlan1650', 'vlan1651', 'vlan601', 'vlan603']) }}
  {{ create.l2_interface('GigabitEthernet1/0/5', device_name_b|lower, 'Planned', 'virtual', '{{ site_name }}-WRX-B-to-LAN', 'tagged', []) }}
  {{ create.l2_interface('GigabitEthernet1/0/12', device_name_b|lower, 'Planned', 'virtual', 'CX: {{ site_name }}-FW-Guest-Services_WAN1', 'tagged', ['vlan611', 'vlan612']) }}
  {{ create.l3_interface('loopback1', get_management_interface_ip(device_name_b, 'loopback1'), device_name_b|lower, 'Active', 'virtual', 'WRX-A-to-WRX-B', tenant_name, management_vrf) }}
  {{ create.l3_interface('loopback2', get_site_interface_ip(device_name_b, 'loopback2'), device_name_b|lower, 'Active', 'virtual', 'WRX-A-to-WRX-B', tenant_name) }}
  {{ create.l3_interface('vlan1651', get_management_interface_ip(device_name_b, 'vlan1651'), device_name_b|lower, 'Active', 'virtual', 'WRX-A-to-WRX-B', tenant_name) }}
  {{ create.l3_interface('vlan1711', get_management_interface_ip(device_name_b, 'vlan1711'), device_name_b|lower, 'Active', 'virtual', 'WRX-A-to-WRX-B', tenant_name) }}
  {{ create.l3_interface('vlan1711', get_management_interface_ip(device_name_b, 'vlan1711'), device_name_b|lower, 'Active', 'virtual', 'WRX-A-to-WRX-B', tenant_name) }}

interface_redundancy_groups:
  {{ create.interface_redundancy_group(redundancy_group_name, 'Active', 'Interface Redundancy Group', 'vrrp', '14', get_management_interface_ip(device_name_b, 'vlan1711'))}}