{%- macro vlan(vid, name, status_name, site_name, description) -%}
  - "!create_or_update:vid": "{{ vid }}"
    name: "{{ name }}"
    status__name: "{{ status_name }}"
    site__name: "{{ site_name }}"
    description: "{{ description }}"
    tenant__name: "{{ tenant_name }}"
    role__name: "wanswitch_vlans"
    "!ref": "vlan{{vid}}"
{%- endmacro %}