devices:
  - name: "Device1"
    status__name: "Active"
    interfaces:
      - name: "eth0"
        type__slug: "1000base-t"
        enabled: true
      - name: "eth1"
        type__slug: "1000base-t"
        enabled: true

  - name: "Device2"
    status__name: "Active"
    interfaces:
      - name: "eth0"
        type__slug: "1000base-t"
        enabled: true
      - name: "eth1"
        type__slug: "1000base-t"
        enabled: true
