sites:
  - "!create_or_update:name": "NewSite"
    slug: "newsite"
    status__name: "Active"

device_types:
  - "!create_or_update:model": "DeviceModel"
    slug: "devicemodel"
    manufacturer__slug: "juniper"
    u_height: 1

device_roles:
  - "!create_or_update:name": "DeviceRole"
    slug: "devicerole"
    color: "3f51b5"

devices:
{% for i in range(4) %}
  - "!create_or_update:name": "Device{{ i }}"
    device_type__slug: "devicemodel"
    device_role__slug: "devicerole"
    site__slug: "newsite"
    status__name: "Active"
    interfaces:
      - "!create_or_update:name": "eth0"
        type__slug: "1000base-t"
        ip_addresses:
          - "!create_or_update:address": "192.0.2.{{ i }}/24"
            status__name: "Active"
        status__name: "Active"
      - "!create_or_update:name": "loopback0"
        type__slug: "virtual"
        ip_addresses:
          - "!create_or_update:address": "203.0.113.{{ i }}/32"
            status__name: "Active"
        status__name: "Active"
      - "!create_or_update:name": "lo0.0"
        type__slug: "virtual"
        ip_addresses:
          - "!create_or_update:address": "10.0.0.{{ i }}/32"
            status__name: "Active"
        status__name: "Planned"
{% endfor %}

vlans:
{% for i in range(4) %}
  - "!create_or_update:vid": {{ i+1 }}
    site__slug: "newsite"
    status__name: "Active"
{% endfor %}
